<form #addEmpForm = "ngForm" (ngSubmit) = "addEmpToService()" >
 <fieldset>
  <legend>Add Employee:</legend><br>
  
Employee Name : <input  id = "name" required   type ='text' name = "Name" [(ngModel)] = "userModal.name"  > {{Employee}}<br><br> 
Location : <input  id ="location" required name="Location"  [(ngModel)] = "userModal.location">{{location}}<br><br>
Email : <input id="email" required type="email" name="Email"  [(ngModel)] = "userModal.email" >{{email}}<br><br>
Mobile: <input id="mobile" required type="tel" name= "Mobile"  [(ngModel)] = "userModal.mobile" >{{mobile}}<br><br>
<button  id="add"  type="submit"  >Add Employee</button>

</fieldset>
</form>


