

<form #addEmpForm = "ngForm" (ngSubmit) = "addEmpToService()" >
 <fieldset>
  <legend>Add Employee:</legend><br>
Employee Name : <input  required   type ='text' name = "empname" [(ngModel)] = "userModal.EmpName"  > {{Employee}}<br><br> 
Location : <input  required name="location"  [(ngModel)] = "userModal.empLocation">{{location}}<br><br>
Email : <input  required type="email" name="email"  [(ngModel)] = "userModal.email" >{{email}}<br><br>
Mobile: <input required type="tel" name= "mobile"  [(ngModel)] = "userModal.empmobile" >{{mobile}}<br><br>


<button  type="submit"  >Add Employee</button>

</fieldset>
</form>


