<form #addEmpForm = "ngForm"  (ngSubmit) = "addEmpToService()" >
 <fieldset>
  <legend>Add Employee:</legend><br><table  id ="addTable"  width="300" >
  

      <tr>
        <td>Name : </td>
        <td> <input #name="ngModel" id = "name" required   type ='text' name = "Name" [(ngModel)] = "userModal.name" minlength="3"  > {{Employee}}</td>  
      </tr>
      <tr>
          <td>Localtion :</td> 
          <td><input  id ="location" required name="Location"  [(ngModel)] = "userModal.location"     >{{location}}</td>  
      </tr>
      <tr>
          <td>Email :</td> 
          <td><input id="email" required type="email" name="Email"  [(ngModel)] = "userModal.email"   >{{email}}</td>  
        </tr>
        <tr>
            <td>Mobile : </td> 
            <td><input #mob="ngModel" id="mobile" required type="tel" name= "Mobile"  [(ngModel)] = "userModal.mobile" minlength="8" maxlength="10" >{{mobile}}</td>  
        </tr>
        
        <br><br>
  
        </table>
<button [disabled] = "name.invalid || mob.invalid" id="add"  type="submit"  >Add Employee</button>
<br>

</fieldset>
</form>









