<form #upEmp = "ngForm" (ngSubmit) = "editEmp()">
 <fieldset>
  <legend>Edit Employee:</legend><br>
 
 <label>Employee Name</label> : <input id="name" type="text"  value = "{{employees.name}}"  name="name" [(ngModel)] = "employees.name"  ><br><br>
<label>Location : </label><input id="location"  value = "{{employees.location}}"name="location" [(ngModel)] = "employees.location"><br><br>
<label>Email : </label><input id ="email"   type="email" value = "{{employees.email}}"name="email" [(ngModel)] = "employees.email"><br><br>
<label>Mobile : </label><input id= "mobile" type="" value = "{{employees.mobile}}"  name="mobile" [(ngModel)] = "employees.mobile"  ><br><br>


<button type="submit">Update</button>

</fieldset>
</form>