<html>
 

<h4>Employee list</h4>
<form   #userForm = "ngForm">
  <fieldset>
  <legend>Employee List:</legend>
  
  <h4>Filter by:</h4>
 
<input name = "search" [(ngModel)] = "term"  placeholder="Search for Employee"  > <br>
<Label>Total Number of Employee: {{(employeelist | searchFilter : term ).length }}</Label>  
<br><br>

<table border id ="myTable"  >
  <tr>
    <th>Emp ID </th>
    <th>Name </th> 
    <th>Location</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
  <tr *ngFor = "let emp of (employeelist | searchFilter : term )">
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.location}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.mobile}}</td>
    <td><button type="button" (click)="moveToEmpId(emp.id)">Edit</button></td>
    <td><button type="button" (click)="moveToEmpId(emp.id)">Delete</button></td>
  </tr>
  
</table>
</fieldset>
</form>



</html>


