<html>
 

<h4 >Employee list</h4>
<form   #userForm = "ngForm">
  <fieldset>
  <legend>Employee List:</legend>
  
  <h4>Filter by:</h4>
 
<input name = "search"  id="filter" [(ngModel)] = "term"  placeholder="Search for Employee"  > <br>
<Label id="count" >Total Number of Employees: {{(employeelist | searchFilter : term ).length }}</Label>  
<br><br>

<table border id ="myTable"  >
  <tr>
    <th>Emp ID </th>
    <th>Name </th> 
    <th>Location</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
  <tr *ngFor = "let emp of (employeelist | searchFilter : term )">
    <td><a href="">{{emp.id}}</a></td>
    <td id = "{{emp.name+(emp.id-1)}}">{{emp.name}}</td>
    <td id = "{{emp.location+(emp.id-1)}">{{emp.location}}</td>
    <td id = "{{emp.email+(emp.id-1)}">{{emp.email}}</td>
    <td id = "{{emp.mobile+(emp.id-1)}">{{emp.mobile}}</td>
    <td><button type="button" (click)="moveToEmpId(emp.id)">Edit{{emp.id}}</button></td>
    <td><button type="button" (click)="delteToEmpId(emp.id)">Delete{{emp.id}}</button></td>
  </tr>
  
</table>
</fieldset>
</form>



</html>


